
RewriteEngine on
RewriteCond %{HTTP_HOST} ^yangqingcheng\.xin [NC]
RewriteRule ^(.*)$ http://www.yangqingcheng.xin/$1 [L,R=301,NC]

ErrorDocument 404 /404.html

SetEnvIf Request_URI "/starry-night" allow_framing=true
Header set X-Frame-Options SAMEORIGIN env=!allow_framing